<p><div class="card col-12 offset-md-3 col-md-6">
  <div class="card-header text-center">
    Editar Cliente
  </div>
  <form #cform="ngForm">
    <div class="card-body">
      <h5 class="card-title">Informações da Empresa</h5>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="cnpj"><span class="text-danger">* &#160;</span>CNPJ</span>
        </div>
        <input type="text" class="form-control" required [spMask]="cnpjMask" maxlength="18" minlength="18"
               [spKeepMask]="true" [(ngModel)]="c.cnpj" placeholder="00.000.000/0000-00" name="cnpj" #cnpj="ngModel"
               [ngClass]="( cnpj.invalid && cnpj.touched) ? 'is-invalid' : ''">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="nomef"><span class="text-danger">* &#160;</span>Nome fantasia</span>
        </div>
        <input type="text" class="form-control" required [(ngModel)]="c.nomef" placeholder="Boxit" name="nomef"
               #nomef="ngModel" [ngClass]="(nomef.invalid && nomef.touched) ? 'is-invalid' : ''">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="endereco"><span class="text-danger">* &#160;</span>Endereço</span>
        </div>
        <input type="text" class="form-control" required [(ngModel)]="c.endereco" placeholder="AV. Brasil, 366, Centro"
               name="endereco" #endereco="ngModel" [ngClass]="(endereco.invalid && endereco.touched) ? 'is-invalid' : ''">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="comp">Complemento</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="c.complemento" placeholder="Ponto de referência"
               name="complemento" #complemento="ngModel" [ngClass]="(complemento.invalid && complemento.touched) ? 'is-invalid' : ''">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="cidade"><span class="text-danger">* &#160;</span>Cidade</span>
        </div>
        <input type="text" class="form-control" required [(ngModel)]="c.cidade" placeholder="Maringá" name="cidade"
               #cidade="ngModel" [ngClass]="(cidade.invalid && cidade.touched) ? 'is-invalid' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text" id="estado"><span class="text-danger">* &#160;</span>Estado</span>
        </div>
        <input type="text" class="form-control" required [(ngModel)]="c.estado" placeholder="Paraná" name="estado"
               #estado="ngModel" [ngClass]="(estado.invalid && estado.touched) ? 'is-invalid' : ''">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="cep"><span class="text-danger">* &#160;</span>CEP</span>
        </div>
        <input type="text" class="form-control" required [spMask]="cepMask" maxlength="9" minlength="9"
               [spKeepMask]="true" [(ngModel)]="c.cep" placeholder="00000-000" name="cep" #cep="ngModel"
               [ngClass]="(cep.invalid && cep.touched) ? 'is-invalid' : ''">
      </div>

      <h5 class="card-title">Informações do Responsável</h5>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="cpf"><span class="text-danger">* &#160;</span>CPF</span>
        </div>
        <input type="text" class="form-control" required [spMask]="cpfMask" maxlength="14" minlength="14"
               [spKeepMask]="true" [(ngModel)]="c.cpf" placeholder="000.000.000-00" name="cpf" #cpf="ngModel"
               [ngClass]="(cpf.invalid && cpf.touched) ? 'is-invalid' : ''">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="nome"><span class="text-danger">* &#160;</span>Nome</span>
        </div>
        <input type="text" class="form-control" required [(ngModel)]="c.nome" placeholder="Senor Abravanel"
               name="nome" #nome="ngModel" [ngClass]="(nome.invalid && nome.touched) ? 'is-invalid' : ''">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="telefone"><span class="text-danger">* &#160;</span>Telefone</span>
        </div>
        <input type="text" class="form-control" required [spMask]="phoneMask" maxlength="15" minlength="14"
               [spKeepMask]="true" [(ngModel)]="c.telefone" placeholder="(00) 0000-0000" name="telefone"
               #telefone="ngModel" [ngClass]="(telefone.invalid && telefone.touched) ? 'is-invalid' : ''">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="email"><span class="text-danger">* &#160;</span>Email</span>
        </div>
        <input type="text" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
               class="form-control" required [(ngModel)]="c.email" placeholder="test@gmail.com" name="email"
               #email="ngModel" [ngClass]="(email.invalid && email.touched) ? 'is-invalid' : ''">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="senha"><span class="text-danger">* &#160;</span>Senha</span>
        </div>
        <input type="password" class="form-control" required [(ngModel)]="c.senha" placeholder="********" name="senha"
               #senha="ngModel" [ngClass]="(senha.invalid && senha.touched) ? 'is-invalid' : ''">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  id="csenha"><span class="text-danger">* &#160;</span>Confirme sua senha</span>
        </div>
        <input type="password" class="form-control" required [(ngModel)]="c.csenha" placeholder="********" name="csenha"
               #csenha="ngModel" [ngClass]="((csenha != senha) && csenha.touched) ? 'is-invalid' : ''">
      </div>
      <div class="mb-3">
        <button href="#" class="btn btn-block btn-primary" (click)="editar()" type="submit"
                [disabled]="cform.invalid || confirmasenha()">Cadastrar</button>
      </div>
    </div>
  </form>
</div>
