@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  font-family: 'Nunito', sans-serif;
}

body{
  background: url("assets/img/background.jpg") no-repeat center center;
  background-size: cover;
}
