<section class="col-12 offset-lg-1 col-lg-10">
  <div class="card bg-light" style="margin-top: 10px">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-md-4">
          <h3>Lista de Categorias</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12" *ngIf="cat?.totalElements > 0">
        <div class="table-responsive">
          <table class="table table-sm table-hover table-bordered table-striped text-center">
            <thead>
            <tr>
              <th scope="col">Nome</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categor of cat.content">
              <td>{{categor.nome}}</td>
              <td><span class="badge badge-pill" [ngClass]="categor.enable ? 'badge-success' : 'badge-warning'" ngbTooltip="{{categor.enable ? 'Desativar' : 'Ativar'}}"
                        style="cursor:pointer;" placement="top" (click)="desativarAtivar(categor.id, categor.enable, categor.nome)">
                {{categor.enable ? 'Ativo' : 'Inativo'}}</span></td>
              <td><button class="btn btn-primary" routerLink="{{categor.id}}"><i class="fal fa-eye"></i></button></td>
              <td><button class="btn btn-secondary" routerLink="{{categor.id}}/true"><i class="fal fa-edit"></i></button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 text-center" *ngIf="!vazio">
        <span>Nenhuma categoria cadastrada no momento!</span>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" routerLink="new"><i class="fas fa-plus"></i> Nova Categoria</button>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-12 col-md-6 text-white">
      <ngb-pagination
        [collectionSize]="cat?.totalElements"
        [page]="cat?.number + 1"
        [pageSize]="cat?.size"
        [rotate]="true"
        [maxSize]="5"
        (pageChange)="carregarPagina($event)"
        [boundaryLinks]="true"
        *ngIf="cat?.totalPages > 1"
      ></ngb-pagination>
    </div>
    <div class="col-12 col-md-6 text-white">
      Categorias por página:
      <select class="custom-select col-6" (change)="mudarDeTamanho($event.target.value)">
        <option *ngFor="let tamanho of tamanhos" value="{{tamanhos}}" [selected]=" tamanho == cat?.size">{{tamanho}}</option>
      </select>
    </div>
  </div>
</section>
