<section class="text-center col-12 offset-lg-1 col-lg-10" style="margin-top: 5%;">
  <div class="card text-white text-justify bg-info">
    <div class="card-header text-center">Bem Vindo ao sistema de controle de estoque BoxIt</div>
    <div class="card-body bg-light text-center">
      <button class="btn btn-primary col-4">Entrar</button>
      <br/>
      <span class="text-dark" style="margin-top: 5px;">Ainda não tem a sua conta? <a routerLink="register">Crie uma</a></span>
    </div>
  </div>
</section>
