<div class="col-12 offset-lg-1 col-lg-10">
  <div class="card">
    <div class="card-header text-center">
      Cadastro de Cliente
    </div>
    <div class="card-body">
      <h5 class="card-title">Informações da Empresa</h5>
      <form #cform="ngForm">
        <div class="form-group row">
          <label class="col-md-2 col-form-label">CNPJ <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" required [spMask]="cnpjMask" maxlength="18" minlength="18" (blur)="confimacnpj()" (invalid)="cnpjvalid"
                   [spKeepMask]="true" [(ngModel)]="c.cnpj" placeholder="00.000.000/0000-00" name="cnpj" #cnpj="ngModel"
                   [ngClass]="(cnpj.invalid && cnpj.touched) ? 'is-invalid' : ''">
            <span class="text-danger" *ngIf="showCnpjError">CNPJ já cadastrado!</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Nome fantasia <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" required [(ngModel)]="c.nomeFantasia" placeholder="Boxit" name="nomef"
                   #nomef="ngModel" [ngClass]="(nomef.invalid && nomef.touched) ? 'is-invalid' : ''">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">CEP <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" required [spMask]="cepMask" maxlength="9" minlength="9"
                   [spKeepMask]="true" [(ngModel)]="c.cep" placeholder="00000-000" name="cep" #cep="ngModel"
                   [ngClass]="(cep.invalid && cep.touched) ? 'is-invalid' : ''" (blur)="buscaEndereco()">
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label">Logadouro <span class="text-danger">*</span></label>
              <div class="col-md-8">
                <input type="text" class="form-control" required [(ngModel)]="c.logadouro"
                       placeholder="AV. Brasil"
                       name="logadouro" #logadouro="ngModel"
                       [ngClass]="(logadouro.invalid && logadouro.touched) ? 'is-invalid' : ''">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Bairro </label>
              <div class="col-md-9">
                <input type="text" class="form-control" [(ngModel)]="c.bairro"
                       placeholder="Centro"
                       name="bairro" #bairro="ngModel">
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label">Cidade <span class="text-danger">*</span></label>
              <div class="col-md-8">
                <input type="text" class="form-control" required [(ngModel)]="c.cidade" placeholder="Maringá"
                       name="cidade"
                       #cidade="ngModel" [ngClass]="(cidade.invalid && cidade.touched) ? 'is-invalid' : ''">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Estado <span class="text-danger">*</span></label>
              <div class="col-md-9">
                <input type="text" class="form-control" required [(ngModel)]="c.estado" placeholder="Paraná"
                       name="estado"
                       #estado="ngModel" [ngClass]="(estado.invalid && estado.touched) ? 'is-invalid' : ''">
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-4 col-form-label">Número</label>
              <div class="col-md-8">
                <input type="text" class="form-control" [(ngModel)]="c.numero"
                       placeholder="1029"
                       name="numero" #numero="ngModel">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Complemento</label>
              <div class="col-md-9">
                <input type="text" class="form-control" [(ngModel)]="c.complemento" placeholder="Ponto de referência"
                       name="complemento" #complemento="ngModel"
                       [ngClass]="(complemento.invalid && complemento.touched) ? 'is-invalid' : ''">
              </div>
            </div>
          </div>
        </div>

        <h5 class="card-title">Informações do Responsável</h5>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">CPF <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" required [spMask]="cpfMask" maxlength="14" minlength="14"
                   [spKeepMask]="true" [(ngModel)]="c.cpf" placeholder="000.000.000-00" name="cpf" #cpf="ngModel"
                   [ngClass]="(cpf.invalid && cpf.touched) ? 'is-invalid' : ''">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">Nome <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" required [(ngModel)]="c.nome" placeholder="Senor Abravanel"
                   name="nome" #nome="ngModel" [ngClass]="(nome.invalid && nome.touched) ? 'is-invalid' : ''">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">Telefone <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="text" class="form-control" required [spMask]="phoneMask" maxlength="15" minlength="14"
                   [spKeepMask]="true" [(ngModel)]="c.telefone" placeholder="(00) 0000-0000" name="telefone"
                   #telefone="ngModel" [ngClass]="(telefone.invalid && telefone.touched) ? 'is-invalid' : ''">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">Email <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="text" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                   class="form-control" required [(ngModel)]="c.email" placeholder="test@gmail.com" name="email"
                   #email="ngModel" (blur)="confimaemail()" (invalid)="email" [ngClass]="(email.invalid && email.touched) ? 'is-invalid' : ''">
            <span class="text-danger" *ngIf="showEmailError">Email já cadastrado!</span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label">Senha <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="password" class="form-control" required [(ngModel)]="c.password" placeholder="********"
                   name="senha"
                   #senha="ngModel" [ngClass]="(senha.invalid && senha.touched) ? 'is-invalid' : ''">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" style="font-size: 15px">Confirme sua senha <span class="text-danger">*</span></label>
          <div class="col-md-10">
            <input type="password" class="form-control" required [(ngModel)]="csenha" placeholder="********"
                   name="csenha"
                   #csenhaf="ngModel" [ngClass]="(csenhaf.touched && confirmasenha()) ? 'is-invalid' : ''">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button href="#" class="btn btn-block btn-primary" (click)="cadastrar()" type="submit"
                    [disabled]="cform.invalid || confirmasenha()">Cadastrar
            </button>
          </div>
          <div class="col">
            <div>
              <button class="btn btn-secondary btn-block" (click)="back()"><i class="fal fa-arrow-left"></i> Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
