<div class="row">
  <div class="col-12 col-md-6">
    <div class="form-group row">
      <label for="start" class="col-xl-5 col-form-label">Início das inscrições</label>
      <div class="col-xl-7">
        <div class="input-group">
          <input placeholder="dd/mm/yyyy" type="text" class="form-control" ngbDatepicker #sd="ngbDatepicker"
                 id="start" name="start" required formControlName="registrationStart" [readonly]="!edit && !new" maxlength="10">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="sd.toggle()" type="button" style="cursor:pointer;" [disabled]="!this.edit && !this.new">
              <i class="fal fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
