<section class="col-12 offset-lg-1 col-lg-10">
  <div class="card bg-light" style="margin-top: 10px">
    <div class="card-header">
      <div class="row">
        <div class="col-12 col-md-5">
          <h3>Lista de Pedidos</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12" *ngIf="pedidos?.totalElements > 0">
        <div class="table-responsive">
          <table class="table table-sm table-hover table-bordered table-striped text-center">
            <thead>
            <tr>
              <th scope="col">Data da Compra</th>
              <th scope="col">Valor Total da Compra</th>
              <th scope="col">Valor Pago</th>
              <th scope="col">Status</th>
              <th colspan="4"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pedido of pedidos.content">
              <td>{{pedido.createAt}}</td>
              <td>{{pedido.precoTotal}}</td>
              <td>{{pedido.recebido}}</td>
              <td *ngIf="pedido.recebido == 0">Não Pago</td>
              <td *ngIf="(pedido.recebido != 0) && (pedido.recebido != pedido.precoTotal)">Processando</td>
              <td *ngIf="pedido.recebido == pedido.precoTotal">Pago</td>
              <td><button class="btn btn-primary" routerLink="{{pedido.id}}"><i class="fal fa-eye"></i></button></td>
              <td><button class="btn btn-secondary"><i class="fas fa-truck-moving"></i></button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 text-center" *ngIf="!vazio">
        <span>Nenhum pedido cadastrado no momento!</span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-12 col-md-6 text-white">
      <ngb-pagination
        [collectionSize]="pedidos?.totalElements"
        [page]="pedidos?.number + 1"
        [pageSize]="pedidos?.size"
        [rotate]="true"
        [maxSize]="5"
        (pageChange)="carregarPagina($event)"
        [boundaryLinks]="true"
        *ngIf="pedidos?.totalPages > 1"
      ></ngb-pagination>
    </div>
    <div class="col-12 col-md-6 text-white">
      Pedidos por página:
      <select class="custom-select col-6" (change)="mudarDeTamanho($event.target.value)">
        <option *ngFor="let tamanho of tamanhos" value="{{tamanhos}}" [selected]=" tamanho == pedidos?.size">{{tamanho}}</option>
      </select>
    </div>
  </div>
</section>
