<div class="col-12 offset-lg-1 col-lg-10">
  <div class="card">
    <div class="card-header text-center">
      <div class="col-12 col-md-12">
        <a (click)="help()" class="text-dark" style="text-decoration: none; float: right"><i
          class="fal fa-question-circle"></i></a>
      </div>
      <h3>Registrar Pagamento</h3>
    </div>
    <div class="card-body">
      <form #pform="ngForm">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Número do Boleto <span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" required [spMask]="boletoMask" maxlength="54" minlength="54" (blur)="confimaboleto()"
                     [spKeepMask]="true" [(ngModel)]="p.nrBoleto" placeholder="99999.99999 99999.999999 99999.999999 9 99999999999999" name="boleto" #boleto="ngModel"
                     [ngClass]="((boleto.invalid && boleto.touched) || boletovalid) ? 'is-invalid' : ''">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">CNPJ </label>
            <div class="col-md-9">
              <input type="text" class="form-control" [disabled]="true" name="fcnpj"  [(ngModel)]="fcnpj">
            </div>
          </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Nome </label>
          <div class="col-md-9">
            <input type="text" class="form-control" [disabled]="true" name="fnome"  [(ngModel)]="fnome">
          </div>
        </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Preço da Conta</label>
            <div class="col-md-9">
              <input type="text" class="form-control" [disabled]="true" name="fpreco"  [(ngModel)]="fpreco">
            </div>
          </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Multa</label>
          <div class="col-md-9">
            <input type="text" class="form-control" [disabled]="true" name="fmulta"  [(ngModel)]="fmulta">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Juros</label>
          <div class="col-md-9">
            <input type="text" class="form-control" [disabled]="true" name="fjuros"  [(ngModel)]="fjuros">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Preço Total</label>
          <div class="col-md-9">
            <input type="text" class="form-control" [disabled]="true" name="ftotal"  [(ngModel)]="ftotal">
          </div>
        </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">Data do Pagamento <span class="text-danger">*</span></label>
            <div class="col-md-9">
              <div class="input-group mb-3">
                <input type="text" class="form-control" required [(ngModel)]="fd" ngbDatepicker
                       #d="ngbDatepicker" (click)="d.toggle()" (dateSelect)="calculaMultaJuros()" (navigate)="fd = $event.next"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
          </div>

      <div class="row">
        <div class="col">
          <button href="#" class="btn btn-block btn-primary"  type="submit"
                  [disabled]="pform.invalid || boletovalid || datavalid" (click)="registrar()">Registrar
          </button>
        </div>
        <div class="col">
          <div>
            <button class="btn btn-secondary btn-block" (click)="back()"><i class="fal fa-arrow-left"></i> Voltar</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
