<div class="row" style="margin-top: 5%;">
  <div class="col-12 offset-md-4 col-md-4 text-center">
    <div class="card bg-light">
      <div class="card-header">
        <h2>Redefinir a senha</h2>
      </div>
      <div class="card-body">
        <form #f="ngForm" (submit)="resetPassword(f)" [formGroup]="form">
          <div class="form-group">
            <div class="input-group">
              <input type="password" id="password" class="form-control" placeholder="Nova senha" name="password" formControlName="password">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirmar nova senha">
            </div>
            <span *ngIf="form.controls.confirmPassword.errors?.MatchPassword" class="text-danger">As senhas devem ser iguais</span>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" *ngIf="!loading" [disabled]="!f.valid">Redefinir senha
              </button>
              <div class="col-12 text-center" style="padding: .375rem .75rem;" *ngIf="loading">
                <i class="fas fa-spinner fa-spin"></i> Processando sua solicitação
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
